# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Steven Tran
- Chong Gu
- Sarah Youn
- Zefeng Xue
- Kuanghanying Zhao

# Group Members IDs

- A13950948
- A########
- A########
- A########

# Research Question

How large is the gender wage gap between men and women within the tech industry? And which gender, on average, earns more whilst having similar educational backgrounds?

## Background and Prior Work

The gender wage gap has long been an issue in the United States. Recent research suggests that the wage gap has narrowed between men and women since the 1980s, but has changed little within the last 10 years.. While the number of women in the tech industry is rising, females are still largely considered to be part of the minority, and continue to make up less than 20% of the total number of employees at tech companies. Given this information, we are curious as to whether or not a wage gap exists in the tech industry, and if so, how large that wage gap is. 

This topic is of interest to our group because we all have an interest in technology, and many of us plan to work or be involved in the tech industry in some way in the future. Furthermore, technology continues to become more and more important in our daily lives and affects society and the way we live. As such, we believe that more women should be encouraged to pursue tech careers to promote innovation and, in doing so, be paid equally to men.

References (include links):
- 1) Facts about the gender pay gap: https://www.pewresearch.org/fact-tank/2019/03/22/gender-pay-gap-facts/
- 2) Women in tech statistics: https://smallbiztrends.com/2018/03/women-in-technology-statistics.html

# Hypothesis

In recent years, it seems that the presence of women within the tech industry, specifically in software engineering, has grown significantly. For years, we have heard that women are paid less than men for working the same jobs. We are hypothesizing that this is true for the tech industry, but that the gap is not extremely significant.

# Dataset(s)

*Fill in your dataset information here*
https://gist.github.com/nk412/38e131f55422a3b7422c6f50940a7489 
The data for our first dataset is from people in the tech industry (mainly software engineering type jobs) with 3700 entries and 12 variables. This data seems to be from a self reported Google Form. There seems to be significantly more males on this form than females, which might skew our findings.

https://github.com/HackathonHackers/data/blob/master/notebooks/fall-2015-salary.csv
This data has 161 entries and 27 different variables. The dataset is smaller than our first one but does seem a lot more well rounded in terms of distribution of genders and educational levels.

https://www.kaggle.com/kaggle/sf-salaries
This dataset shows salary information for multiple job titles in the San Francisco area. We plan to only look at the entries with job positions with a Software Engineer title or similar.

We plan to aggregate all of our data and merge it into one singular csv file. This will be easy to do since the current data we have share multiple similar variables. Because our data includes more data on males in the tech industry than females, we plan to look for more data sets to more accurately represent the female population.


(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [9]:
## YOUR CODE HERE

# Data Cleaning

Describe your data cleaning steps here.

Our goals for cleaning the data 
- [ ] The smaller dataset does not have an annualized salary column. It does, however, have a salary and payment frequency. We want to take that salary value and multiply it by the frequency to get an annualized salary.
- [ ] We want to combine our two datasets by matching all of the similar columns.
- [ ]

In [10]:
import pandas as pd
#import datasets
df_sal1 = pd.read_csv('salaries.csv')
df_sal2 = pd.read_csv('fall-2015-salary.csv')

#dropping unused columns
df_sal1 = df_sal1.drop(['Timestamp', 'Employer', 'Years at Employer', 'Years of Experience', 'Annual Stock Value/Bonus', 'Additional Comments'], axis=1)
df_sal2 = df_sal2.drop(['Degree Level', 'Last Year of College', 'Timestamp', 'Company Name', 'Position Title', 'Base Salary', 'Salary Frequency', 'Housing Stipend', 'Stock Bonuses/Benefits', 'Stock Vesting Schedule Details', 'Additional Benefits', 'Did You Negotiate the Offer?', 'Did You Accept the Offer?', 'Time Frame From First Interview Invitation to Offer in Weeks', 'Last School Attended', 'Major', 'Additional Information', 'Monthly Salary', 'Annualized Recurring Renumeration (inc. stock)', 'Recurring Renumeration per Month', 'Total First Year Annualized Renumeration(including Signon & Relocation)'], axis=1)

df_sal1 = df_sal1.dropna(axis = 0, how = 'any')
df_sal2 = df_sal2.dropna(axis = 0, how = 'any')

df_sal2 = df_sal2.rename(index=str, columns={'Sex': 'Gender', 'Bonuses per Year': 'Annual Bonus', 'Annualized Salary': 'Annual Base Pay'})
df_sal1 = df_sal1.rename(index=str, columns={'Job Title': 'Position Type'})

df_sal1.append(df_sal2, sort = True)

,Annual Base Pay,Annual Bonus,Gender,Location,Position Type,Signing Bonus
1,125000,0,Male,"San Francisco, CA",Systems Engineer,5000
2,"83,000",$50.00,Male,San Diego CA,Systems engineer,0
4,86000,6000,Male,"Cleveland, OH",Software Engineer,5000
6,105000,8500,Male,Waltham,MTS,5000
9,90500,0,Male,"Copenhagen, Denmark",Software Developer,0
12,110000,7000,Male,Cupertino,Software Engineer,5000
14,40000,500,Male,Eastern Oregon,IT Technician,0
16,45000,1500,Male,"Madison, WI",Lead Interviewer,0
17,135000,0,Male,New York City,Senior software engineer,0
21,105000,47000,Male,NYC,Software Engineer,0
22,95000,0,Male,"Seattle, WA",Software Engineer,0
23,80000,0,Male,San Francisco,Infrastructure/Platform Engineer,0
24,120000,6000,Male,"Denver, CO",Senior Software Engineer,0
25,78000,0,Male,Chicago,"Software Developer, Consultant",0
28,115000,0,Male,"Los Angeles, CA",Lead Software Engineer,0
29,110000,10000,Male,Remote (US),Infrastructure Engineer,10000
32,150000,25000,Male,"Scottsdale, AZ",Senior Application Architect,0
34,63000,2000,Male,Minneapolis,Analyst,0
35,63000,2000,Male,Minneapolis,Analyst,0
36,38 210,0,Male,Bordeaux,IT Project Manager,0
37,93000,15000,Male,Seattle,Senior Engineer,0
40,$24/hr,$0,Male,"Bala Cynwyd, PA",Student Intern Co-op,$0
41,"108,000",1000,Male,St. Louis,Software Development Lead,0
43,54000,0,Male,"Upstate, NY",Developer,0
45,85000,5000,Male,"Toronto, Canada",Full Stack Developer,0
48,55000,0,Male,New York,Senior Analyst,0
49,80000,0,Male,"Orlando, FL",Sr Software Engineer,0
50,125000,0,Male,San Francisco,Software Engineer,0
53,"145,000","20,000",Male,santa clara,sr engineer,0
54,134000,0,Male,New York City,Senior Developer,0
...,...,...,...,...,...,...
81,"$85,200","$16,000",Male,Redmond,Intern,$0
82,"$62,400",$0,Female,"Seattle, WA",Intern,"$1,200"
83,"$85,200","$16,000",Male,"Seattle, Washington",Intern,"$1,500"
85,"$106,000","$20,000",Male,"Seattle, Washington",Full Time,"$15,000"
86,"$106,000","$17,143",Male,"Redmond, WA",Full Time,"$30,000"
87,"$115,000","$32,500",Male,"Redmond, WA",Full Time,"$25,000"
88,"$85,200","$15,600",Female,Redmond,Intern,"$2,400"
89,"$110,000","$15,000",Female,"Seattle, WA",Full Time,25000
90,"$106,000","$34,286",Male,Redmond,Full Time,30000
91,"$85,200","$15,996",Female,"Seattle, WA",Intern,5000
93,"$106,000","$15,000",Female,Redmond,Full Time,10000
96,"$83,200","$27,200",Female,New York City,Intern,"$1,250"
97,"$83,200","$27,380",Male,NYC,Intern,$0
99,"$90,000",$0,Female,NYC,Full Time,10000
101,"$47,840","$12,000",Nonbinary,"Austin, TX",Intern,0
104,"$100,000","$18,750",Male,"PA, CA",Full Time,10000
107,"$115,000",$0,Male,"San Francisco, CA",Full Time,"$10,000"
108,"$115,000","$37,500",Female,Bay Area,Full Time,"$5,000"
111,"$90,000",$0,Male,"San Jose, CA",Full Time,0
114,"$56,160",$0,Male,United States,Intern,$0
116,"$47,840","$18,000",Female,"Indianapolis, IN",Intern,$500
117,"$125,000","$12,500",Female,"San Francisco, CA",Full Time,30000
118,"$81,005","$20,004",Male,Seattle,Intern,300
132,"$100,000","$27,500",Male,San Francisco,Full Time,15000
134,"$47,840",$0,Male,Dallas,Intern,"$2,100"
135,"$120,000","$37,500",Prefer Not to Disclose,SF,Full Time,15000
136,"$124,800","$27,200",Male,"New York, NY",Intern,5000
137,"$110,000","$15,000",Male,"San Francisco, CA",Full Time,"$5,000"
150,"$93,600",$0,Male,NYC,Intern,5000
151,"$125,000","$19,250",Prefer Not to Disclose,Redwood City,Full Time,5000

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [11]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

## Bar Plots 
Barplots show us the count of values within a single categorical variable.

### Gender
This barplot is used to find the proportion of males to females within our dataset.

## Box Plots
Box plots summaries a quantitative variable broken down by a categorical variable.

### Gender vs. Annualized Salary 
We want to analyze annualized salary(quantitative variable) across genders(categorical variable) to see which gender has a higher annualized salary.

## Density Plot 
Density plots reveal information about a single quantitative variable.

### Annualized Salary
We are creating a density plot to investigate the distribution of salaries across all the people in our dataset. We seek to find ... from this plot.

## Segmented Bar Graph
A segmented bar graph compares multiple quantitative variables across a single categorical variable.

### Gender vs. "Income"
"Income" consists of 3 quantitative variables: Annualized Salary, Signing Bonus, Other Bonuses. The reason we want to look at these 3 quantitative variables is to get a more holistic representation of the amount of money an individual is bringing home, because salary may not be the most accurate representation because a person make only make a $40,000 but have another $40,000 in bonuses/ other compensation.

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*